<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>Devices</key>
		<dict>
			<key>AddProperties</key>
			<array>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Disabled</key>
					<false/>
					<key>Key</key>
					<string>AAPL,GfxYTile</string>
					<key>Value</key>
					<data>
					AQAAAA==
					</data>
				</dict>
			</array>
		</dict>
		<key>Graphics</key>
		<dict>
			<key>Inject</key>
			<dict>
				<key>Intel</key>
				<true/>
			</dict>
			<key>ig-platform-id</key>
			<string>0x19120000</string>
		</dict>
		<key>KernelAndKextPatches</key>
		<dict>
			<key>KextsToPatch</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>10.11-SKL-1912000-4_displays</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					AQMDAw==
					</data>
					<key>Name</key>
					<string>AppleIntelSKLGraphicsFramebuffer</string>
					<key>Replace</key>
					<data>
					AQMEAw==
					</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Remove</key>
	<dict/>
	<key>Description</key>
	<string>Adds general patches for the HD 530 in 10.12.4 on down.</string>
</dict>
</plist>
