<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>ACPI</key>
		<dict>
			<key>DropTables</key>
			<array>
				<dict>
					<key>Signature</key>
					<string>DMAR</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>CpuPm</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>Cpu0Ist</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Remove</key>
	<dict/>
	<key>Description</key>
	<string>Drops the CpuPm, Cpu0Ist, and DMAR SSDT tables for CPU power management.</string>
</dict>
</plist>
