<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string></string>
	<key>Add</key>
	<dict>
		<key>KernelAndKextPatches</key>
		<dict>
			<key>KernelToPatch</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>ILniAAAADzA=</data>
					<key>Replace</key>
					<data>ILniAAAAkJA=</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Remove</key>
	<dict/>
</dict>
</plist>