<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>RtVariables</key>
		<dict>
			<key>BooterConfig</key>
			<string>0x28</string>
			<key>CsrActiveConfig</key>
			<string>0x3E7</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>Newer way to disable SIP (CsrActiveConfig = 0x3E7)</string>
	<key>Remove</key>
	<dict/>
</dict>
</plist>
