<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Bunch of patches to increase the USB port limit on macOS (10.11-10.14)</string>
	<key>Add</key>
	<dict>
		<key>KernelAndKextPatches</key>
		<dict>
			<key>KextsToPatch</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change 15 port limit to 26 in XHCI kext</string>
					<key>MatchOS</key>
					<string>10.11.x</string>
					<key>Name</key>
					<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
					<key>Find</key>
					<data>g72M/v//EA==</data>
					<key>Replace</key>
					<data>g72M/v//Gw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change 15 port limit to 26 in XHCI kext</string>
					<key>MatchOS</key>
					<string>10.12.x</string>
					<key>Name</key>
					<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
					<key>Find</key>
					<data>g710////EA==</data>
					<key>Replace</key>
					<data>g710////Gw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change 15 port limit to 26 in XHCI kext</string>
					<key>MatchOS</key>
					<string>10.13.0,10.13.1,10.13.2,10.13.3</string>
					<key>Name</key>
					<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
					<key>Find</key>
					<data>g32MEA==</data>
					<key>Replace</key>
					<data>g32MGw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>disable port limit in XHCI kext (credit PMHeart)</string>
					<key>MatchOS</key>
					<string>10.13.4,10.13.5</string>
					<key>Name</key>
					<string>com.apple.driver.usb.AppleUSBXHCI</string>
					<key>Find</key>
					<data>g32UDw+DlwQAAA==</data>
					<key>Replace</key>
					<data>g32UD5CQkJCQkA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change 15 port limit to 26 in XHCI kext (credit FredWst)</string>
					<key>MatchOS</key>
					<string>10.13.4,10.13.5</string>
					<key>Name</key>
					<string>com.apple.driver.usb.AppleUSBXHCI</string>
					<key>Find</key>
					<data>g32UDw+DlwQ=</data>
					<key>Replace</key>
					<data>g32UGg+DlwQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>disable port limit in XHCI kext (credit RehabMan, based prior PMHeart patch)</string>
					<key>MatchOS</key>
					<string>10.13.6</string>
					<key>Name</key>
					<string>com.apple.driver.usb.AppleUSBXHCI</string>
					<key>Find</key>
					<data>g32IDw+DpwQAAA==</data>
					<key>Replace</key>
					<data>g32ID5CQkJCQkA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>disable port limit in XHCI kext (credit PMHeart)</string>
					<key>MatchOS</key>
					<string>10.14.x</string>
					<key>Name</key>
					<string>com.apple.driver.usb.AppleUSBXHCI</string>
					<key>Find</key>
					<data>g/sPD4MDBQAA</data>
					<key>Replace</key>
					<data>g/sPkJCQkJCQ</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Remove</key>
	<dict/>
</dict>
</plist>