<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>Devices</key>
		<dict>
			<key>USB</key>
			<dict>
				<key>FixOwnership</key>
				<true/>
				<key>AddClockID</key>
				<true/>
				<key>Inject</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Remove</key>
	<dict/>
	<key>Description</key>
	<string>Enables USB FixOwnership and Injection - can bypass stall at Enable Legacy Matching.</string>
</dict>
</plist>