<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>KernelAndKextPatches</key>
		<dict>
			<key>KextsToPatch</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change 15 port limit to 26 in XHCI kext 10.12</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					g710////EA==
					</data>
					<key>MatchOS</key>
					<string>10.12.x</string>
					<key>Name</key>
					<string>AppleUSBXHCIPCI</string>
					<key>Replace</key>
					<data>
					g710////Gw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change 15 port limit to 30 in AppleUSBXHCIPCI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					g72M/v//EA==
					</data>
					<key>MatchOS</key>
					<string>10.11.x</string>
					<key>Name</key>
					<string>AppleUSBXHCIPCI</string>
					<key>Replace</key>
					<data>
					g72M/v//Hw==
					</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Remove</key>
	<dict/>
	<key>Description</key>
	<string>Adds version-aware USB port limit increase patches for 10.11 and 10.12.</string>
</dict>
</plist>
